@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'OpticianSans';
	src: url('/fonts/Optiker-K.eot'); /* IE9 Compat Modes */
	src:
		url('/fonts/Optiker-K.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/Optiker-K.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/Optiker-K.ttf') format('truetype'); /* Safari, Android, iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}
